* {
    margin: 0;
    padding: 0;
}

body{ 
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burst-menu {
    position: relative;
    width: 200px;
    height: 200px;
}

.avatar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
}

.avatar-img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}

.icon {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
    transition: transform 500ms cubic-bezier(0.2, 0.8, 0.2, 1), opacity 300ms ease;
    will-change: transform, opacity;
    
} 


.twitter {
    --x: 90px;
    --y: -70px;
    transition-delay: 0ms;
}

.github {
    --x: -90px;
    --y: -70px;
    transition-delay: 40ms;
}

.linkedin {
    --x: 90px;
    --y: 70px;
    transition-delay: 8ms;
}

.instagram {
    --x: -90px;
    --y: 70px;
    transition-delay: 0ms;
}

.burst-menu.open .icon {
    opacity: 1;
    transform: translate(calc(-50% + var(--x)), calc(-50% + var(--y))) scale(1);
}